* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.page1 {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgb(107, 215, 240), rgb(3, 111, 135));
}
nav {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
span {
  margin-left: 3rem;
}
.logo1 {
  height: 1rem;
  width: 1rem;
  border: 1px solid black;
  box-shadow: 10px 3px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
.profile {
  height: 2rem;
  width: 2rem;
  background-color: #3f3f3f;
  border-radius: 50%;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.p1 {
  font-size: 3rem;
  color: white;
  margin-top: 2rem;
}
.input {
  width: 60%;
  background-color: white;
  height: 2.5rem;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin-top: 2rem;
}
.search {
  height: 100%;
  width: 7rem;
  background-color: #7de1eb;
  border-radius: 20px;
  border: none;
}
input {
  width: 100%;
  height: 100%;
  border: none;
  margin-left: 1rem;
}
.cards {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}
.card1 {
  height: 20rem;
  width: 15rem;
  background-color: #ebebeb;
  border-radius: 1rem;
  padding: 1rem;
  text-align: start;
}
.card2 {
  height: 20rem;
  width: 30rem;
  background: linear-gradient(#3e98b7, #0d3747);
  border-radius: 1rem;
  padding: 1rem;
  padding-right: 2rem;
  text-align: start;
  color: white;
}
.cardbtn {
  height: 2rem;
  width: 6rem;
  border: none;
  background-color: #7de1eb;
  border-radius: 1rem;
  color: white;
}
.end {
  margin-top: 7rem;
  display: flex;
}
.share {
  margin-left: 10px;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #c6c6c6;
}

.page2 {
  height: 70vh;
  width: 100vw;
}
.page2 h1 {
  text-align: center;
  margin-top: 5rem;
}
.links2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
}
.page2 .card {
  width: 15rem;
  height: 15rem;
  box-shadow: 1px 1px 1rem;
  border-radius: 5px;
  padding: 10px;
}
.page2 .cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 20rem;
}
.page2 .card img {
  background-color: #918a8a;
  height: 8rem;
  width: 8rem;
  margin: 10px;
}
.page3 {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  background: linear-gradient(#3e98b7, #0d3747);
  color: white;
}
.page3 h1 {
  margin-top: 5rem;
}
.page3 .container {
  width: 70%;
  height: auto;
  margin-top: 4rem;
}
.page3 .container p {
  line-height: 1.5;
}
.page3 .contain {
  display: flex;
  margin-top: 3rem;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.page3 .contain button {
  height: 2rem;
  width: 10rem;
  background: none;
  color: white;
  border:1px solid white;
  border-radius: 2rem;

}
.page4 {
  
}
.page5 {
}
